/* Global */
:root {
    --success-color: #93c47d;
    --danger-color: #dc3545;
    --warning-color: #f2ca4e;
    --information-color: #17a2b8;
    --notification-color: #9fc5f8;
    --primary-color: #2b78e4;
    --secondary-color: #cccccc;
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --gray-color: #eeeeee;
    --darkgray-color: #2b2b2b;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Clase fixed-width container que se "autocentrará" a sí misma */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* Botones */
.btn {
    background-color: var(--primary-color);
    border: 2px solid var(--dark-color);
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 1);
    color: var(--light-color);
    padding: .5em 2em;
}

/* Columnas flexibles */
.row {
    display: flex;
}

.row > div {
    background-color: var(--information-color);
    color: var(--light-color);
    margin: 10px;
    padding: 20px;
}

.col {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

/* Barra de navegación con flex */
.nav {
    align-items: center;
    background-color: var(--darkgray-color);
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    padding: .5em 1em;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style: none;
}

.nav-links a  {
    color: var(--gray-color);
    text-decoration: none;
}

.nav-links a.active {
    color: var(--light-color);
}

.nav-links button.btn {
    background-color: var(--information-color);
    border: 2px solid var(--dark-color);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
    color: var(--light-color);
    padding: .5em 1em;
}